.margin-20 {
    margin: 20px;
}

.row {
    flex-direction: row;
}

.space-left {
    justify-content: flex-start;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.font-size {
    font-size: 18pt;
    font-weight: bold;
}

.font-15 {
    font-size: 16pt;
    font-weight: bold;
}

.round-img {
    border-radius: 50%;
    /*margin: 20px;*/
}

.gray-color {
    color: gray;
}
.top{
    padding-top: 20px;
}
.left-20 {
    padding-left: 25px;
}
.left-40{
    padding-left: 40px;
}
.right-20{
    padding-right: 60px;
}

.border-top-bottom {
    height: 40px;
    border-top: gray 0.1px solid;
    border-bottom: gray 0.1px solid;
}
.width-26{
    width: 26vw;
    height: auto;
    border-right:gray 0.1px solid ;
}
.width-auto{
    width: auto;
}

